.first{
    border-style: solid;
    background-color: gray;
    border-color: black;
    border-width: 2px;
}

.second
{
    border-style: solid;
    padding: 30px;
    background-color: aqua;
    border-width: 5px;
    border-color: white;
}
.third{
    border-style: solid;
    padding: 30px;
    background-color: crimson;
}
.fourth{
    padding: 4px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    outline-color: black;
}