div{
    margin: auto;
    width: 20%;
    border: solid;
    padding: 10px;
background-color: white;
border-top-color: darkgreen;
    border-bottom-color: white;
    border-right-color: white;
    border-left-color: white;
}
h3{
    background-color: green;
    color: white;
    border-color: green;
}
h1{

    text-align: center;
    color: green;
}
html{
    background-color: gray;
}
p{
    text-align: right;
}
.left{
    text-align: left;
}

.left_green{
    text-align: left;
    color: green;
}
.right{
    text-align: right;
}
.right_green
{
    text-align: right;
color: green;
}
.header{
    height: 10px;
    background-color: darkgreen;
    border-color: darkgreen;
}
span{
    font-size: large;
    color: white;
}
