.header{
    text-align: center;
    color: wheat;
    background-color: whitesmoke;
    width: 100%;
    height: 50px;
    font-size: xxx-large;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: gray;
}
.first{
    border-color: darkgray;
    height: 270px;
    width: 60%;
    background-color: darkgray;
    margin: auto;
    padding: 10px;

}
fieldset{
height: 250px;
}
legend{
    font-size: xxx-large;
    color: gray;
}
button{
    position: absolute;
    right: 350px;
    top: 310px;
    height: 50px;
    width: 100px;
    background-color: gray;
    color: white;
}
.input{
    width: 400px;
    position: absolute;
    right: 500px;
}

.label{
    position: absolute;
    left: 500px;
}

table{
    margin: auto;
    border-collapse: collapse;
    background-color: darkgray;
    width: 100%;
}
tr,th,td{
    border-style: solid;
}
.odd{
background-color: crimson;
}
.even{
    background-color: magenta;
}
.second{
    border-color: darkgray;
    width: 60%;
    background-color: darkgray;
    margin: auto;
    padding: 10px;
}
