.first{
    background-color: green;
    height: 80px;
    width: 40px;
    position: absolute;
    bottom: 20px;
}
.second{
    background-color: green;
    height: 40px;
    width: 80px;
    position: absolute;
    right: 20px;
    bottom: 20px;

}

.third{
    background-color: green;
    height: 50px;
    width: 40px;
    position: fixed;
    right: 90px;
    bottom: 70px;
}