
.blue{
    background-color: blue;
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 50%;
}
.yellow{
    background-color: yellow;
    position:fixed;
    padding:0;
    margin:0;

    top:50%;
    left:0;

    width: 100%;
    height: 50%;
}
.text{
text-align: center;
    position: fixed;
    top: 46%;
    right: 35%;
    font-size: xxx-large;
}