#container{
    display: flex;
    height: 100%;
    width: 100%;
}
html,body{
margin: 0px;
    height: 100%;
}
.box{
    border:
            2px solid;
    font-size:
            18pt;
    text-align: center;
    line-height:
            50px;
    padding:
            10px 10px 10px 10px;
width: 100%;

}
.box1{
background-color: magenta;
    order: 2;
}
.box2{
background-color: red;
    order: 9;
}
.box3{
background-color: cyan;
    order: 1;
}
.box4{
background-color: deeppink;
    order: 3;
}
.box5{
background-color: indigo;
    order: 4;
}
.box6{
background-color: aqua;
    order: 5;
}
.box7{
background-color: darkgoldenrod;
    order: 10;
}
.box8{
background-color: khaki;
    order: 6;
}
.box9{
background-color: fuchsia;
    order: 7;
}
.box10{
background-color: silver;
    order: 8;
}