#container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
height: 100%;
    flex-direction: column-reverse;
}

html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}
.box{
    border:
            2px solid;
    font-size:
            18pt;
    text-align: center;
    padding:
            10px 10px 10px 10px;
}

.box1{
    background-color: magenta;
    order: 10;

}
.box2{
    background-color: red;
    order: 9;

}
.box3{
    background-color: cyan;
    order: 8;
}
.box4{
    background-color: deeppink;
    order: 7;
}
.box5{
    background-color: indigo;
    order: 6;
}
.box6{
    background-color: aqua;
    order: 5;
}
.box7{
    background-color: darkgoldenrod;
    order: 4;
}
.box8{
    background-color: khaki;
    order: 3;
}
.box9{
    background-color: fuchsia;
    order: 2;
}
.box10{
    background-color: silver;
    order: 1;

}