.container{
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px;
    grid-template-rows: 120px 120px 120px 120px 120px;
}
.odd{
    border: 2px solid black;
    background-color: magenta;
    color: white;
}
.even{
    border: 2px solid black;
    background-color: crimson;
    color: white;
}