.container{
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px;
    grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px;
    background-color: white;
}
div{
    margin: 5px;
    background-color: magenta;
}


.blue{
    background-color: blue;
    grid-column-start: span 2;
}
.red{
    background-color: red;
    grid-row-start: span 4;
}
.yellow{
    background-color: yellow;
    grid-row-start: span 2;
    grid-column-start: span 2;

}
.gold{
    background-color: gold;
    grid-column-start: span 4;
}