.container{
    display: grid;
    grid-template-rows: 50%;
    grid-template-columns: 25% 25%;
    column-gap: 500px;
}

ul {
    display: flex;
    background-color: rgba(25,31,52, 0.8);
    list-style: none;
    padding: 6px;
    margin: 0;
    width: 100%;
    justify-content: center;
}
body{
    margin: 0px;
    height: 100%;
}
li {
    margin-right: 8em;
    color: white;
    margin-left: 8em;
}

table,th,td{
    border: 1px solid;
    border-collapse: collapse;

}
.table{
    border: 1px solid;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.text{
    width: 90%;
}
.form{
    display: flex;
    justify-content: center;
    padding: 5px;

}

form{
    width: 70%;
    border: 1px solid;
    height: 50%;
    padding: 5px;
}
.area{
    width: 70%;
}
.submit{
    width: 90%;
}
.button{

    display: flex;
    justify-content: center;
}
.welcome{

    font-size: 50px;
}