h2{
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}
p{
    text-align: justify;
}
.strong{
    font-weight: bold;
}
.second{
    text-align: left;
    word-spacing: 5px;
}
.last{
    font-size: 1.5em;
    color: red;
}


