
html{
    background-color: #d2dc9d;
}
body {
    font-family: Georgia, serif;
    font-size: 100%;
    line-height: 175%;
    margin: 0 15% 0;
    background-image: url(https://www.rainforest-alliance.org/wp-content/uploads/2021/06/capybara-square-1.jpg.optimal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    background-image: url(https://www.adaptiveseeds.com/wp-content/uploads/2014/12/red-core-chantenay-Carrot-2-100x100.jpg);
    background-repeat: repeat-x;
    margin-top: 0;
    padding: 3em 1em 2em 1em;
    text-align: center;
    background-color: rgb(255,255,255,0.5);
}

a {
    color: #993399;
}
a:link{
    color: #c700f2;
    background-color: #fff;
}
a:visited{
    color: #937393;
}
a:hover{
    color: #c700f2;
    background-color: #fff;
}

a:active{
    background-color: #fff;
    color: #ff00ff;
}
h1 {
    font: bold 1.5em Georgia, serif;
    text-shadow: .05em .05em .1em lightslategray;
    color: #993399;
}
h2 {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .5em;
    text-align: center;
    color:#cc6600;
}
dt {
    font-weight: bold;
}
strong {
    font-style: italic;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#info p {
    font-style: italic;
}
.price {
    font-family: Georgia, serif;
    font-style: italic;
}
p.warning, sup {
    font-size: small;
}
.label {
    font-weight: bold;
    font-variant: small-caps;
    font-style: normal;
}

h2 + p {
    text-align: center;
    font-style: italic;
}


