.container{
    display: flex;
    justify-content: center;
}
.checked{
    border-right-style: dashed;

}
.s{
    border-bottom-style: solid;
}
table{
    border-collapse: collapse;

}
tr{
    font-size: xxx-large;
}