.div1{
    background-color: magenta;
    border-bottom-style: 1px solid;
    border-top-style: 1px solid;
    padding: 0;
    margin: 0;
}
.div2{
    background-color: blue;
    border-bottom-style: 1px solid;
    border-top-style: 1px solid;
    padding: 0;
    margin: 0;
}